// USER VARIABLES SECTION
:root {
	--accent: orange;
	--text-color: #333;
	--user-font: roboto-my, sans-serif;
	--system-font: -apple-system, BlinkMacSystemFont, Arial, sans-serif;;
}

// Bootstrap compatible gutter variable => $gutter
//$grid-gutter-width: 20px;
//$gutter: $grid-gutter-width;

// IMPORT SECTION
//@import 'node_modules/normalize.css/normalize';

// FONTS LOAD SECTION
@mixin font($fname, $fstyle, $fweight, $furl) {
	@font-face {
		font-family: $fname;
		font-style: $fstyle;
		font-weight: $fweight;
		src: url($furl) format('woff2');
		font-display: swap;
	}
}

@include font('roboto-my', normal, 400, '../fonts/roboto-regular-webfont.woff2');
@include font('roboto-my', italic, 400, '../fonts/roboto-italic-webfont.woff2');
@include font('roboto-my', normal, 700, '../fonts/roboto-bold-webfont.woff2');
@include font('roboto-my', italic, 700, '../fonts/roboto-bolditalic-webfont.woff2');